.mainbox
  = render partial:"users/registrations/registration_header"
  .registcontents
    = form_for(resource, as: resource_name, url: user_session_path(resource.id), html: { class:"box"}) do |f|
      .box__formarea
        .registtittle
          アカウントをお持ちでない方はこちら
        .btnlist
          %a{href:'/'}
            .btnlist__list--registration
              新規会員登録
        .formarea__underbar
      .box__formarea
        .btnlist
          %a{href:'/'}
            .btnlist__list--facebook
              %p Facebookでログイン
              =fa_icon 'facebook-square'
          %a{href:'/'}
            .btnlist__list--google
              %p Googleでログイン
              =image_tag "icons/google-icon.png"
      .box__formarea
        .formbox
          .formbox__text
          = f.email_field :email, autofocus: true, class:"form", autocomplete: "email", placeholder:'メールアドレス'
        .formbox
          .formbox__text
          = f.password_field :password, class:"form", autocomplete: "current-password", placeholder:'パスワード'
      .box__formarea
        .robot
          =image_tag "robot.png"
        = f.submit "ログイン", class:"submit"
        .link
          =link_to 'パスワードをお忘れの方'
  =render partial:"users/registrations/registration_shortfooter"
