.new-item
  .new-item__area
    .item-header
      .item-header__title
        シャネル新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @chanel_products.each do |chanel_product|
        -product_image = chanel_product.images.first
        .contents
          =link_to"/products/#{chanel_product.id}"do
            .contents__img{style: "background-image: url(#{product_image.image});"}
              -if chanel_product.trade_status != 0
                .sold_out
                  =image_tag "icons/sold_out.png",class:"sold_out"
              .contents__price
                = "¥,#{chanel_product.price}"
            .contents__text
              = chanel_product.item_name

    .item-header
      .item-header__title
        ルイヴィトン新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @louis_vuitton_products.each do |louis_vuitton_product|
        -product_image = louis_vuitton_product.images.first
        .contents
          =link_to"/products/#{louis_vuitton_product.id}"do
            .contents__img{style: "background-image: url(#{product_image.image});"}
              -if louis_vuitton_product.trade_status != 0
                .sold_out
                  =image_tag "icons/sold_out.png",class:"sold_out"
              .contents__price
                = "¥,#{louis_vuitton_product.price}"
            .contents__text
              = louis_vuitton_product.item_name

    .item-header
      .item-header__title
        シュプリーム新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @supreme_products.each do |supreme_product|
        -product_image = supreme_product.images.first
        .contents
          =link_to"/products/#{supreme_product.id}"do
            .contents__img{style: "background-image: url(#{product_image.image});"}
              -if supreme_product.trade_status != 0
                .sold_out
                  =image_tag "icons/sold_out.png",class:"sold_out"
              .contents__price
                = "¥,#{supreme_product.price}"
            .contents__text
              = supreme_product.item_name

    .item-header
      .item-header__title
        ナイキ新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @nike_products.each do |nike_product|
        -product_image = nike_product.images.first
        .contents
          =link_to"/products/#{nike_product.id}"do
            .contents__img{style: "background-image: url(#{product_image.image});"}
              -if nike_product.trade_status != 0
                .sold_out
                  =image_tag "icons/sold_out.png",class:"sold_out"
              .contents__price
                = "¥,#{nike_product.price}"
            .contents__text
              = nike_product.item_name