-# =====人気のカテゴリー=============================
.new-item
  .new-item__area
    .item-header
      .item-header__title
        レディース新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @ladies_products.each do |ladies_product|
        -product_image = ladies_product.images.first
        .contents
          =link_to"/products/#{ladies_product.id}"do
            -# .contents__img{style: "background-image: url(#{product_image.image});"}
              .contents__price
                = "¥,#{ladies_product.price}"
            .contents__text
              = ladies_product.item_name
    .item-header
      .item-header__title
        メンズ新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @mens_products.each do |mens_product|
        -product_image = mens_product.images.first
        .contents
          =link_to"/products/#{mens_product.id}"do
            -# .contents__img{style: "background-image: url(#{product_image.image});"}
              .contents__price
                = "¥,#{mens_product.price}"
            .contents__text
              = mens_product.item_name

    .item-header
      .item-header__title
        家電・スマホ・カメラ新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @home_appliance_products.each do |home_appliance_product|
        -product_image = home_appliance_product.images.first
        .contents
          =link_to"/products/#{home_appliance_product.id}"do
            -# .contents__img{style: "background-image: url(#{product_image.image});"}
              .contents__price
                = "¥,#{home_appliance_product.price}"
            .contents__text
              = home_appliance_product.item_name

    .item-header
      .item-header__title
        おもちゃ・ホビー・グッズ新着アイテム
      .item-header__view-more
        もっと見る＞
    .item-index
      - @toy_products.each do |toy_product|
        -product_image = toy_product.images.first
        .contents
          =link_to"/products/#{toy_product.id}"do
            -# .contents__img{style: "background-image: url(#{product_image.image});"}
              .contents__price
                = "¥,#{toy_product.price}"
            .contents__text
              = toy_product.item_name