.mypage.clearfix
  = render 'nav'
  .mypage__content
    %section.mypage__user
      =link_to "ユーザーid毎のページurl" do
        %figure
          = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", width:"60", height:"60"
        .mypage__user--name.bold<>
          TestUser
        .mypage__user--info
          %div<>
            評価
            %span.bold
              10
          %div
            出品数
            %span.bold
              5
    %section.mypage__noti-todo
      %ul.mypage__noti-todo__select
        %li.active<>
          =link_to "#mypage-tab-notification", "data-toggle": "tab" do
            お知らせ
        %li<>
          =link_to "#mypage-tab-todo", "data-toggle": "tab" do
            やることリスト
      .mypage__noti-todo__content
        %ul#mypage-tab-notification.mypage__noti-todo__content.tab-pane.active
          %li
            =link_to "https://www.mercari.com/jp/mypage/news/", class: "mypage__item__link" do
              =image_tag "/assets/svg/logo_red.svg", class:"lazyloaded"
              .mypage__item__link__body
                .mypage__item__link__body--text
                  事務局から個別メッセージ「Googleログイン通知」
                %time
                  =fa_icon 'clock'
                  %span
                    3 時間前
              =fa_icon 'chevron-right'
          %li
            =link_to "https://www.mercari.com/jp/mypage/sales/bill/history/", class:"mypage__item__link" do
              =image_tag "/assets/svg/logo_red.svg", class:"lazyloaded"
              .mypage__item__link__body
                .mypage__item__link__body--text
                  振込完了のお知らせ
                %time
                  = fa_icon 'clock'
                  %span
                    22 時間前
              =fa_icon 'chevron-right'
          %li.notification-list
            =link_to "/mypage/notification/" do
              一覧を見る
        %ul#mypage-tab-todo.mypage__noti-todo__content.tab-pane
          %li.mypage__item__link--notfound.bold
            現在、やることリストはありません

    -# %aside.modal{"data-modal": "banner", "data-close": "modal"}
      .modal-inner.modal-banner
        .modal-banner-eye-catch
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2651893653"
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2651893653"
        .modal-banner-body
          %h2
            今すぐ無料ダウンロード！
          .bold
            全ての機能を使えるスマホアプリはこちら！
          .modal-banner-app.clearfix
            =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8", target:"_blank", class:"pull-left" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2651893653"
            =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja", target:"_blank", class:"pull-left" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2651893653"
          =link_to "", class:"modal-banner-app-open", "data-toggle": "open-app", "data-url-scheme": "mercari://", "data-action": "app/launch", "data-play-id": "com.kouzoh.mercari" do
            アプリで開く
        <i class="icon-close" data-close="modal"></i>
    %section.mypage__container
      .mypage__container--head
        購入した商品
      %ul.mypage__container__select
        %li.active
          =link_to "#mypage-tab-transaction-now", "data-toggle": "tab" do
            取引中
        %li
          =link_to "#mypage-tab-transaction-old", "data-toggle": "tab" do
            過去の取引
      .mypage__container__content
        %ul#mypage-tab-transaction-now.mypage__item__link--list.tab-pane.active
          %li.mypage__item__link--notfound.bold
            取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage__item__link--list.tab-pane
          %li
            =link_to "https://www.mercari.com/jp/transaction/order_status/m70068440240/", class:"mypage__item__link" do
              =image_tag "/assets/svg/logo_red.svg", class:"lazyload"
              .mypage__item__link__body
                .mypage__item__link__body--text
                  「ノートパソコン」 を購入しました。
                  %span
                    取引が完了しました
                .mypage__item__link__body--status.bold.done
                  取引完了
              =fa_icon 'chevron-right'
          %li.purchased-list
            =link_to "/jp/mypage/purchased/" do
              一覧を見る
