=form_for @product, url: "/products/#{@product.id}" do |f|
  .product-wrapper
    .newproduct__content.clearfix
      %form.product-item
        .product-item--head
          商品の情報を入力
        .product-item__img.clearfix
          .product-item__img--title
            出品画像
            .form-required
              必須
          .product-item__img--text
            最大10枚までアップロードできます
            .product-item__img--preview
              %input{id:"del_img", type:"hidden", name: "del_img"}
              %ul<
                - if @product.images.present?
                  - @product.images.each_with_index do |img,i|
                    %li.have-img-box
                      =image_tag img.image
                      .preview-list
                        .preview-list__btn
                          編集
                        .preview-list__btn
                          %a.remove-btn__edit{"data-img": i} 削除
            %label.product-item__img--area
              - 10.times do
                =f.fields_for :images , Image.new do |i|
                  = i.file_field  :image, style:"opacity:0;", class:"imagearea"
              %p
                ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード
        .product-item__form
          .product-item__form--title
            商品名
            .form-required
              必須
          =f.text_field :item_name, class:'product-item__form--field',placeholder:"商品名（必須40字まで）", required:"true"
          =f.hidden_field :bland_id, value:'',class:'bland_num'
          .product-item__form--title
            商品説明
            .form-required
              必須
          =f.text_area :description, class:'product-item__form--description',placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",  required:"true"
        .product-item__form.clearfix
          .product-item__form--title
            商品の詳細
          .product-item__subform
            .product-item__subform--title
              カテゴリー
              .form-required
                必須
            - if @product.category.id <= 13
              =f.collection_select :category_id, Category.where(id: 1..13), :id, :name ,{selected: @product.category.id},{class:'product-item__subform--select0',required:"true",id:'category_box'}
              =f.collection_select :category_id, Category.where(id: 14..158), :id, :name ,{},{class:'product-item__subform--select2',id:'category_box'}
            - elsif @product.category_id <=  158
              =f.collection_select :category_id, Category.where(id: 1..13), :id, :name , {selected:Category.find_by(id: @product.category_id).parent.id} ,{class:'product-item__subform--select0',required:"true",id:'category_box'}
              =f.collection_select :category_id, Category.where(id: 14..158), :id, :name ,{selected: @product.category.id},{class:'product-item__subform--select2',required:"true",id:'box_2'}
              =f.collection_select :category_id, Category.where(id: 159..1000), :id, :name ,{include_blank:"----"},{class:'product-item__subform--select3',id:'box_2'}
            - else
              =f.collection_select :category_id, Category.where(id: 1..13), :id, :name , {selected:Category.find_by(id: Category.find_by(id: @product.category_id).parent.id).parent.id} ,{class:'product-item__subform--select0',required:"true",id:'category_box'}
              =f.collection_select :category_id, Category.where(id: 14..158), :id, :name ,{selected:Category.find_by(id: @product.category_id).parent.id},{class:'product-item__subform--select2',required:"true",id:'box_2'}
              =f.collection_select :category_id, Category.where(id: 159..1000), :id, :name ,{selected: @product.category.id},{class:'product-item__subform--select3',id:'box_2'}
            .product-item__subform--title
              商品の状態
              .form-required
                必須
            =f.select :item_condition, Product.item_conditions.keys.to_a, {include_blank:"----"}, {class:"product-item__subform--select", required:"true"}
        .product-item__form.clearfix
          .product-item__form--title
            配送について
          .product-item__subform
            .product-item__subform--title
              配送の負担
              .form-required
                必須
            = f.select :delivery_charge, Product.delivery_charges.keys.to_a, {include_blank:"----"}, {class:"product-item__subform--select6", required:"true"}
            .product-item__subform--title7{id:"d_list"}
              配送の方法
              .form-required
                必須
              =f.select :delivery_method, Product.delivery_methods.keys.to_a,  {include_blank:"----"}, {class:"product-item__subform--select7", required:"true"}
            .product-item__subform--title
              発送元の地域
              .form-required
                必須
            = f.select :delivery_area, Product.delivery_areas.keys.to_a, {include_blank:"----"}, {class:"product-item__subform--select", required:"true"}
            .product-item__subform--title
              発送までの日数
              .form-required
                必須
            = f.select :delivery_time, Product.delivery_times.keys.to_a, {include_blank:"----"}, {class:"product-item__subform--select", required:"true"}
        .product-item__form.clearfix
          .product-item__form--title
            販売価格(300〜9,999,999)
          .product-item__subform
            .product-item__subform--title
              価格
              .form-required
                必須
            %span<>
              ¥
            =f.text_field :price, {class:'product-item__subform--price',required:"true"}
            .product-item__subform--left
              販売手数料 (10%)
              
              .fee
                販売手数料
            .product-item__subform--left
              販売利益
              .profit
                最終的利益値
        .product-item__button
          .product-item__button--notes
            禁止されている出品、行為を必ずご確認ください。
            またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
            また、出品をもちまして加盟店規約に同意したことになります。
          =f.submit class:'product-item__button--submit',value:'編集する'
          %button.product-item__button--cancel
            キャンセル
    .footer
      %ul.footer--nav.clearfix
        %li<
          = link_to "." do
            プライバシーポリシー
        %li<
          = link_to "." do
            メルカリ利用規約
        %li<
          = link_to "." do
            特定商取引に関する表記
      =link_to root_path, class:"footer--img" do
        =image_tag "svg/logo_gray.svg"
      .footer--text
        © 2019 Fmarket