!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample62d
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - unless controller_name == 'registrations' || controller_name == 'sessions' || (controller_name == 'products' && (controller.action_name == 'new' || controller.action_name == 'edit' || controller.action_name == 'confirmation'))
      = render 'homes/header'
  
    = yield

    - unless controller_name == 'registrations' || controller_name == 'sessions' || (controller_name == 'products' && (controller.action_name == 'new' || controller.action_name == 'edit' || controller.action_name == 'confirmation'))
      = render 'homes/footer'