.mainbox
  = render partial:"registration_header_status"
  .registcontents
    = form_for @user, url: sms_confirmation_path, method: :get, html: {class:"box"} do |f|
      .box__tittle
        %h3
          会員情報入力
      .formarea
        .formbox
          .formbox__text
            .formbox__text--tittle
              ニックネーム
            .formbox__text--btn
              必須
          = f.text_field :nickname, { class:"form", placeholder:'例)メルカリ太郎'}
        .formbox
          .formbox__text
            .formbox__text--tittle
              メールアドレス
            .formbox__text--btn
              必須
          = f.email_field :email, { class:"form", placeholder:'PC・携帯どちらでも可'}
        .formbox
          .formbox__text
            .formbox__text--tittle
              パスワード
            .formbox__text--btn
              必須
          =f.password_field :password, { class:"form", placeholder:'7文字以上'}
          .checkbox
            //checkbox入ります
            .checkbox__box
            %p
              パスワードを表示する
        .formbox
          .formbox__text
            %h3
              本人確認
            %p
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          -# .form
        .formbox
          .formbox__text
            .formbox__text--tittle
              お名前(全角)
            .formbox__text--btn
              必須
          =f.text_field :firstname, { class:"halfform", placeholder:'例)山田'}
          =f.text_field :lastname, { class:"halfform", placeholder:'例)彩'}
        .formbox
          .formbox__text
            .formbox__text--tittle
              お名前カナ(全角)
            .formbox__text--btn
              必須
          =f.text_field :firstname_kana, { class:"halfform", placeholder:'例)ヤマダ'}
          =f.text_field :lastname_kana, { class:"halfform", placeholder:'例)アヤ'}
        .formbox
          .formbox__text
            //select-box入ります
            .formbox__text--tittle
              生年月日
            .formbox__text--btn
              必須
          .birthformarea
            .birthform
              != sprintf(f.date_select(:birthday, prefix:'birthday', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
              %p ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .formbox
          .formbox__certification
        .formbox
          %p.confirmation
            「次へ進む」のボタンを押すことにより、
            =link_to '利用規約', '/'
            に同意したものとみなします
        = f.submit "次へ進む", class:"submit"
        .nextlink
          =link_to '本人情報の登録について>', '/'
  =render partial:"registration_shortfooter"
